/* CSS RESET */

.calculator {
  /* border: 2px solid black; */
  /* background-color: #63656a; */
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 700px;
  margin-top: 100px;
  margin-left: 100px;
}
#output {
  width: 256px;
  height: 70px;
  border: solid 1px;
}
button {
  width: 4rem;
  height: 4rem;
}
.col-3 {
  flex: 0 0 auto;
  width: 15%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}
.button-item {
  background-color: #63656a;
  color: #f2ecff;
}
